<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>StackOverFlow-lite</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>

<body class="home">
	<home-main>
		<section class="header-row">
			<div class="container">
				<div class="brand-logo">
					StackOverFlow
				</div>

				<div class="search">
					<form>
						<input type="text" name="search" class="form-input small" placeholder="Search...">
					</form>
				</div>

				<div class="brand-links">
					<ul class="nav">
						<li>
							<a href="login.html">Login</a>
							<a href="signup.html">Signup</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</section>

		<div class="clear"></div>
		<section class="main-content">
			<div class="container">
				<div class="side-bar-left">
					<ul class="left-nav">
						<li>
							<a href="../index.html" class="active">Home</a>
						</li>
					</ul>
					<div class="margin-30"></div>
					<label class="subheader">Public</label>

					<ul class="left-nav">
						<li>
							<a href="#">Tags</a>
							<a href="#">Users</a>
							<a href="#">Teams</a>
						</li>
					</ul>

					<div class="widget rounded">
						<div class="widget-title rounded">
							<span>Tags</span>
						</div>
						<div class="widget-content">
							<a href="#" class="tag">javascript</a>
							<a href="#" class="tag">java</a>
							<a href="#" class="tag">python</a>
							<a href="#" class="tag">laravel</a>
							<a href="#" class="tag">php</a>
							<a href="#" class="tag">slim</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="margin-10"></div>
					<div class="divider"></div>
					<div class="margin-30"></div>
				</div>

				<div class="question-content">
					<div class="heading">
						<form id="post_form">
							<div id="alert-msg" class="alert"></div>
							<div class="form-row">
								<label class="bold">Title</label>
								<input id="title" type="text" class="form-input" name="title" placeholder="What is your programming question?">
							</div>

							<div class="form-row">
								<label class="bold">Question</label>
								<textarea id="question" class="form-input" name="body" placeholder="Provide detail to your question" style="height: 120px"></textarea>
							</div>

							<div class="form-row">
								<input id="post" type="submit" class="btn btn-blue rounded" value="Post Your Question">
							</div>
						</form>
					</div>
				</div>

				<div class="side-bar-right">

				</div>
			</div>
			<div class="clear"></div>
			<div class="margin-30"></div>
			<section class="footer">
				<div class="container">
					<label>&copy; StackOverFlow-lite 2018. All Rights Reserved</label>
				</div>
			</section>
		</section>
	</home-main>
</body>
<script src="../static/js/questions.js"></script>
<script src="../static/js/base.js"></script>

</html>