<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>StackOverFlow</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>

<body>
    <main-signup class="rounded">
        <section id="Signup-section">
            <div class="header">
                <div class="logo">
                    <h3 class="heading-25">StackOverFlow-lite</h3>
                </div>
                <div class="divider"></div>
                <h3>Login to gain access</h3>
            </div>
            <div id="alert-msg" class="alert"></div>
            <form id="login_form">
                <div class="form-element">
                    <label class="bold">User name:</label>
                    <input id="username" type="text" name="user-name" class="form-input" placeholder="User name"
                        required>
                </div>
                <div class="margin-20"></div>
                <div class="form-element">
                    <label class="bold">Password: </label>
                    <input id="password" type="password" name="password" class="form-input" placeholder="Password"
                        required>
                </div>
                <div class="margin-20"></div>

                <div class="form-element">
                    <input id="login" type="submit" name="submit" class="main-signup btn btn-blue rounded" value="Login">
                </div>
                <div class="margin-20"></div>
                <div class="form-element Terms">
                    Don't have an account?
                    <a class="text-primary" href="signup.html">Signup</a> or
                    <a class="text-primary" href="../index.html">Go to Home</a>.
                </div>
                <div class="margin-20"></div>
            </form>
        </section>
    </main-signup>
</body>
<script src="../static/js/authentication.js"></script>
<script src="../static/js/base.js"></script>

</html>